// Static navbar
nav.navbar.navbar-default
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='index')
        img(src="assets/images/logo/logo.jpg", alt="")
    #navbar.navbar-collapse.collapse
      ul.nav.navbar-nav.navbar-right
        li
          a(href='index') Home
        li
          a(href='honda') Models
        li
          a(href='contact') Contact
    //-.nav-collapse
  //-.container-fluid
//- nav

//- Color Swatch
- var c = ['FDF23E','FECC21','FFBA1F','FF8A07','FF4618','FE2814','EF2614','E92411','EE180D','E11D11','B3170A','930F0B','F33C6C','FF8BBC','693172','030C2D','10255A','061B78','0B3077','0E3696','164F86','075AAA','2879CA','299BD1','5EB3DC','16909F','26A7A2','76DCC6','004B20','0B8C3C','0E844C','1F8E27','5DB731','7FE343','FFFFFF','CECFD3','A4AEBA','7B8793','8E938D','4E555D','020202','858688','977D4C','FDE0C2','F1D09D','321310','B74D23']
- var code = ['526','527','504','516','509','514','523','511','503','519','515','513','524','541','522','540','512','528','520','539','505','521','510','538','537','534','535','536','533','532','506','518','517','531','501','544','529','508','545','530','502','546','547','542','543','507','548']
