extends ./layout/home.jade

block content
  
  .inner.cover
    h1.cover-heading Car foiling services are available at these branches 
    h2 Contact your nearest service advisors
    hr
    .row
      .col-md-4.col-md-offset-2
        h3 Honda Makati
        h3 Honda Pasig
        h3 Honda Alabang
        h3 Honda Shaw
        h3 Honda Global City
        h3 Honda Manila Bay
      .col-md-4
        h3 Honda Cebu
        h3 Honda Mandaue
        h3 Honda Cagayan De Oro
        h3 Honda Negros Occidental
        h3 Honda Iloilo

block scripts
  // External Script goes here...
