extends ./layout/page.jade

block content
  
  .card
    .row
      .col-md-8
        #slider.flexslider
          ul.slides
            each val in [1]
              - var model = 4;
              li
                img(src='assets/images/models/list/'+model+'/color/paint_1/'+val+'.png')
          //-ul
        //-#slider
        #carousel.flexslider
          ul.slides
            each val in [1]
              - var model = 4;
              li
                img(src='assets/images/models/list/'+model+'/color/paint_1/'+val+'.png')
        //-#carousel
      //-.col-md-8
      .col-md-4
        h1 CR-Z

        br
        
        include includes/product_details.jade
        
        hr
        
        strong Colors
        .paint
          .paint--colors.crz
            .colors._1(data-color="1")
          //-.paint--colors
        //-.paint
        
        hr
        
        strong Variants
        ul
          li 1.5 IMA Hybrid Navi MT
          li 1.5 IMA Hybrid Navi CVT
          li 1.5 IMA Hybrid Navi MT 2-Tone
          li 1.5 IMA Hybrid Navi CVT 2-Tone
        
      //-.col-md-4
    //-.row
  //-.card

block scripts
  // External Script goes here...
