extends ./layout/page.jade

block content
  
  .card
    .row
      .col-md-6
        .model-thumb
          a(href="honda_pilot")
            img.img-responsive(src="assets/images/models/model_pilot.png", alt="")
          .details
            h3 Pilot
          //-.details
        //-.model-thumb
      //-.col-md-6
      .col-md-6
        .model-thumb
          a(href="honda_mobilio")
            img.img-responsive(src="assets/images/models/model_mobilio.png", alt="")
          .details
            h3 Mobilio
          //-.details
        //-.model-thumb
      //-.col-md-6
      .col-md-6
        .model-thumb
          a(href="honda_jazz")
            img.img-responsive(src="assets/images/models/model_jazz.png", alt="")
          .details
            h3 Jazz
          //-.details
        //-.model-thumb
      //-.col-md-6
      .col-md-6
        .model-thumb
          a(href="honda_crz")
            img.img-responsive(src="assets/images/models/model_crz.png", alt="")
          .details
            h3 CR-Z
          //-.details
        //-.model-thumb
      //-.col-md-6
      .col-md-6
        .model-thumb
          a(href="honda_crv")
            img.img-responsive(src="assets/images/models/model_crv.png", alt="")
          .details
            h3 CRV
          //-.details
        //-.model-thumb
      //-.col-md-6
      .col-md-6
        .model-thumb
          a(href="honda_civic")
            img.img-responsive(src="assets/images/models/model_civic.png", alt="")
          .details
            h3 Civic
          //-.details
        //-.model-thumb
      //-.col-md-6
      .col-md-6
        .model-thumb
          a(href="honda_city")
            img.img-responsive(src="assets/images/models/model_city.png", alt="")
          .details
            h3 City
          //-.details
        //-.model-thumb
      //-.col-md-6
      .col-md-6
        .model-thumb
          a(href="honda_accord")
            img.img-responsive(src="assets/images/models/model_accord.png", alt="")
          .details
            h3 Accord
          //-.details
        //-.model-thumb
      //-.col-md-6
      .col-md-6
        .model-thumb
          a(href="honda_amaze")
            img.img-responsive(src="assets/images/models/model_amaze.png", alt="")
          .details
            h3 Amaze
          //-.details
        //-.model-thumb
      //-.col-md-6
      .col-md-6
        .model-thumb
          a(href="honda_brio")
            img.img-responsive(src="assets/images/models/model_brio.png", alt="")
          .details
            h3 Brio
          //-.details
        //-.model-thumb
      //-.col-md-6
      .col-md-6
        .model-thumb
          a(href="honda_legend")
            img.img-responsive(src="assets/images/models/model_legend.png", alt="")
          .details
            h3 Legend
          //-.details
        //-.model-thumb
      //-.col-md-6
      .col-md-6
        .model-thumb
          a(href="honda_hrv")
            img.img-responsive(src="assets/images/models/model_hrv.png", alt="")
          .details
            h3 HR-V
          //-.details
        //-.model-thumb
      //-.col-md-6
    //-.row
  //-.card

block scripts
  // External Script goes here...
