extends ./layout/home.jade

block content
  
  .inner.cover
    h1.cover-heading Drive your Dreams
    p.lead
      | Bringing you the widest selection and helping you decide the best color choice.
    p.lead
      a.btn.btn-lg.btn-success(href='honda') Learn more

block scripts
  // External Script goes here...
